apiVersion: v1
kind: Service
metadata:
  name: {{ include "keydb-cluster.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "keydb-cluster.name" . }}
    helm.sh/chart: {{ include "keydb-cluster.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.clusterIP }}
  clusterIP: {{ .Values.service.clusterIP }}
  {{end}}
  ports:
    - port: {{ .Values.service.keydb }}
      targetPort: {{ .Values.service.keydb }}
      protocol: TCP
      name: keydb
    - port: {{ .Values.service.autocluster }}
      targetPort: {{ .Values.service.autocluster }}
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "keydb-cluster.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
